*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'montserratthin_italic';
  src: url('../public/fonts/montserrat-italic-variablefont_wght-webfont.woff2') format('woff2'),
    url('../public/fonts/montserrat-italic-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratthin';
  src: url('../public/fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
    url('../public/fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 1100px;
  background: #f9f6f1;
  font-family: 'montserratregular', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
}
